<!DOCTYPE html>
<html lang="en">
<head>
    <title>🏦 👉 📊 Budgie</title>
    <meta name="title" content="🏦 👉 📊 Budgie">
    <meta name="description" content="Get on top of your finances by tracking all of your bank accounts & credit cards in Google Sheets">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://budgie.fi">
    <meta property="og:title" content="🏦 👉 📊 Budgie">
    <meta property="og:description" content="Get on top of your finances by tracking all of your bank accounts & credit cards in Google Sheets">
    <meta property="og:image" content="/static/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://budgie.fi">
    <meta property="twitter:image" content="https://budgie.fi/static/preview.png">
    <meta property="twitter:title" content="🏦 👉 📊 Budgie">
    <meta property="twitter:creator" content="@arussellsaw">
    <meta property="twitter:description" content="Get on top of your finances by tracking all of your bank accounts & credit cards in Google Sheets">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <script async defer data-domain="budgie.fi" src="https://plausible.io/js/plausible.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe({{.StripePublishableKey}});
        var createCheckoutSession = function(priceId) {
            return fetch("/api/stripe/setup", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    priceId: priceId
                })
            }).then(function(result) {
                return result.json();
            });
        };
        let sessionId;
        let customerId;
        {{if .User}}
        sessionId = '{{.User.Stripe.SessionID}}';
        customerID = '{{.User.Stripe.CustomerID}}';
        {{end}}
    </script>
    <meta charset="UTF-8">
</head>
<body>
<div class="max-w-screen-sm mx-auto space-y-5 mt-20 mb-20 p-4">
    <p class="text-5xl font-extrabold">Hello! 👋</p>
    <p class="text-3xl font-bold">You Need a Spreadsheet is now Budgie 🦜</p>
    {{if not .User }}
        <p class="mb-10 text-xl font-bold">Thanks for stopping by, you can sign up and log in by clicking the link below! 👇</p>
        <p> <a class="mt-10 text-l font-bold text-blue-500" href="/api/sheets/oauth/login">Log in with Google.</a></p>
        <p class="text-3xl font-bold">Let Budgie help you with your budget 📊</p>
        <p class="text-l font-bold">
            Get on top of your finances by tracking all of your bank accounts in Google Sheets. Having a high level view of
            your money is a budgeting superpower, you'll be able to analyse your spending & savings over the long term, and
            work out how to hit your money goals. But it'd be a pain to manually update a spreadsheet with your transactions
            & balances, why not let the robots do it for you? 🤖
        </p>
        <p class="text-3xl font-bold">How much does it cost? 💸</p>
        <p class="text-l font-bold">£4 per month, billed via <a class="text-blue-500" href="https://stripe.com">Stripe</a>.</p>
        <p class="text-l font-bold">If you'd like to connect a business account check out the <a class="text-blue-500" href="/business">business page</a>.</p>
        <p class="text-3xl font-bold">Is my bank supported? 🏦</p>
        <p class="text-l font-bold">
            You can find the list of supported banks <a class="text-blue-500" target="_blank" href="/banks">here.</a>
        </p>

        <p class="text-3xl font-bold">What is it? 💭</p>
        <p class="text-l font-bold">
            UK banks have a pretty cool, but under-adopted feature called 'open banking' which is
            a set of APIs provided by all banks that allow users & companies to read data, pay & accept payments via a
            common interface. This page uses <a class="text-blue-500" href="https://truelayer.com">Truelayer</a> to
            connect to your bank and read the balance & transactions, then writes that data into a spreadsheet using
            the Google Sheets API.</p>
        <p class="text-l font-bold">
            I use this tool to have my current bank balance in a few different spreadsheets, i also feed it into BigQuery
            as an external table so i can make a Grafana dashboard for my daily spending & budgets, you can find a guide
            on how to do that <a class="text-blue-500 text-bold" href="https://twitter.com/arussellsaw/status/1284857181163184128?s=20">here</a>.
        </p>
        <p class="text-3xl font-bold">Why should i trust you? 🕵️‍♀️</p>
        <p class="text-l font-bold" id="privacy-policy">
            • This project is open source, you can find it on <a class="text-blue-500" href="https://github.com/arussellsaw/youneedaspreadsheet">GitHub</a>.
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            • Budgie never stores or logs any of your data & the only place the data lives is in your bank, and the spreadsheet you
            configure.
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            • The credentials used to access both google sheets and Truelayer are encrypted at rest via Google
            Cloud's KMS (Key Management Service).
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            • Budgie doesn't read any of your other spreadsheets, only the one created by this app.
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            • Budgie will only use your Google email to identify your account, send receipts, and notify you if there are any issues.
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            • Your data is never shared with a third party without your direct written or verbal consent.
        </p>
        <p class="text-l font-bold" id="privacy-policy">
            If you have any questions please feel free to email me at <a class="text-blue-500" href="mailto:arussellsaw@hey.com">arussellsaw@hey.com</a>
            or <a class="text-blue-500" href="https://github.com/arussellsaw/youneedaspreadsheet/issues/new">raise an issue on GitHub.</a>
        </p>
        <p class="text-l font-bold">Follow me on <a class="text-blue-500" href="https://twitter.com/arussellsaw">Twitter. 🦆</a> Read the <a class="text-blue-500" href="/static/privacy-policy.html">Privacy Policy.</a></p>
    {{else}}
        {{if and .HasTruelayer .HasSheets}}
            <p class="text-xl font-bold">Thanks for logging in, looks like everything is working fine! 👌</p>
        {{else}}
            <p class="text-xl font-bold">Thanks for logging in, let's get you set up! First we need to connect with Truelayer, and set up a Stripe subscription:</p>
        {{end}}
        {{if .HasTruelayer }}
            <p class="text-2xl font-bold">🏦 Truelayer ✅</p>
            <a class="font-bold text-blue-500" href="/api/truelayer/oauth/login">Connect another account.</a>
        {{else}}
            <p class="text-2xl font-bold">🏦 Truelayer ❌</p>
            <a class="font-bold text-blue-500" href="/api/truelayer/oauth/login">Connect Truelayer</a>
        {{end}}
        {{if .HasSheets}}
            <p class="text-2xl font-bold">📊 Google Sheets ✅</p>
            {{if not .User.SheetID }}
                <span class="font-bold">Looks like we still need to <a class="text-blue-500" href="/api/create-sheet">Create a sheet.</a></span>
            {{else}}
                <span class="font-bold">Your spreadsheet is <a class="text-blue-500" target="_blank" href="https://docs.google.com/spreadsheets/d/{{.User.SheetID}}">here.</a></span>
            {{end}}
        {{else}}
            <p class="text-2xl font-bold">📊 Google Sheets ❌</p>
            <a class="font-bold text-blue-500" href="/api/sheets/oauth/login">connect Google Sheets</a>
        {{end}}
        {{if .HasStripe}}
            <p class="text-2xl font-bold">💳 Stripe ✅</p>
            <a class="font-bold text-blue-500 cursor-pointer" id="manage-billing">Manage your subscription.</a>
        {{else}}
            <p class="text-2xl font-bold">💳 Stripe ❌</p>
            <a class="font-bold text-blue-500 cursor-pointer" id="checkout">Set up a Stripe subscription for £2 per month.</a>
        {{end}}
        {{if and .HasTruelayer .HasSheets .HasStripe}}
            <p class="text-xl font-bold">We're currently syncing these accounts:</p>
            {{ range .Accounts }}
                <p class="ml-5 text-xl font-bold">•  {{.Provider.DisplayName}}<span class="text-base font-normal"> consent expires at {{.Expiry}} <a class="text-blue-500 text-m" href="/api/truelayer/oauth/login?token_id={{.TokenID}}"> reconnect.</a></span></p>
            {{end}}
            {{if .User.SyncTime }}
                <p class="font-bold">They were last synced at {{ .User.SyncTime }}</p>
            {{else}}
                <p class="font-bold">Your accounts haven't been synced yet, they will sync automatically every morning, but you can <a class="text-blue-500 font-bold" href="/api/sync">sync now</a> to get your data sooner.</p>

            {{end}}
        {{end}}
        <div>
            <p class="pt-5 text-l font-bold">You can <a class="text-blue-500" href="/api/logout">Log out here.</a></p>
            <p class="text-l font-bold">Your user ID is {{.User.ID}}</p>
        </div>
    {{end}}
</div>
<script>
    const checkoutBtn = document
        .getElementById("checkout")
    if (checkoutBtn != null) {
        checkoutBtn.addEventListener("click", function (evt) {
            createCheckoutSession('{{.StripePriceID}}').then(function (data) {
                // Call Stripe.js method to redirect to the new Checkout page
                stripe.redirectToCheckout({
                    sessionId: data.sessionId
                })
                    .then(handleResult);
            });
        });
    }
    // In production, this should check CSRF, and not pass the session ID.
    // The customer ID for the portal should be pulled from the
    // authenticated user on the server.
    const manageBilling = document.querySelector('#manage-billing');
    if (manageBilling != null) {
        manageBilling.addEventListener('click', function (e) {
            e.preventDefault();
            fetch('/api/stripe/portal', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    sessionId: sessionId
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    window.location.href = data.url;
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    }
</script>
</body>
</html>